@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* nav styles */

 .navbar{
    justify-content: space-between;
    max-width: 1158px;
    margin: 0 auto;
    align-items: center;
 }

 .display-flex{
    display: flex;
 }

.nav-item{
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    /* color: #FEA301; */
}
.nav-button{
    padding: 15px 50px;
    border-radius: 12px;
    background-color: #FEA301;
    color: white;
    border: none;
}
.item-1{
    color: #FEA301;
}
.item-2{
    color: skyblue;
}
.item-3{
    color: #05D4DF;
}
.item-4{
    color: #5D58EF;
}

.brand-logo{
    width: 62px;
    height: 62px;
    margin-top: 10px;
}

.brand-name{
    align-items: center;
}
.menubar{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

hr{
    border: 1px solid orange;
    margin-top: 20px;
}

/* banner stles */
.banner{
   max-width: 1158px;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
}
.color1{
  color: #FEA301;
}
.color2{
    color: skyblue;
}

.banner-kid{
    max-width: 100%;
    height: auto;
}

.banner-text{
    max-width: 640px;
    /* height: 330px; */
    
}

.banner-para{
    margin-top: 20px;
}

.enroll-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    margin-top: 15px;
}

.curriculum-section{
    
    background-image: url(assets/bg.png);
    align-items: center;
    background-size: 100%;
    
    
}


.Standard-title{
    text-align: center;
    margin-top: 30px;
}


.card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 1160px;
    margin: 30px auto;
    justify-items: center;

}




.card-1{
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid #DEF5FF;
    border-radius: 18px;
    padding: 20px;
    max-width: 350px;
   
    background: linear-gradient(-.1deg, #ffffff, #e3fcff);
}

.card-img {
    margin: 10px auto;
    max-width: 100%;
}

.card-para{
    margin: 15px auto;
    color: #808080;
}

.card-1-btn{
    border: none;
    background-color: white;
    color: skyblue;
    font-size: 1rem;
}
.card-2{
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid #FFF4DC;
    border-radius: 18px;
    padding: 20px;
    max-width: 350px;
    max-height: 470px;
    background: linear-gradient(-.1deg, #ffffff, #FFFFDC);
    
}

.card-2-btn{
    border: none;
    background-color: white;
    color: orange;
    font-size: 1rem;
}
.card-3{
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid #F2E8FF;
    border-radius: 18px;
    padding: 20px;
    max-width: 350px;
    max-height: 470px;
    background: linear-gradient(-.1deg, #ffffff, #F2E8FF);
}

.card-3-btn{
    border: none;
    background-color: white;
    color: #8700FF;
    font-size: 1rem;
}

.arrow-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 7px;
    
}

.arrow-btn-1{
    width: 50px;
}
.arrow-btn-2{
    height: 48px;
}


.story-titles{
font-size: 1rem;   
}
.story-title{
    margin-bottom: 50px;
}

.story-img{
    max-width: 100%;
    height: auto;
}

.story-img1{
    max-width: 100%;
    

}
.story-section{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.73), rgba(254, 163, 1, 0.20)) ,url(assets/bg.png);
    background-size: 100%;
    justify-items: center;
    align-items: center;
    
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    
    max-width: 1160px;
    align-items: center;
    justify-items: center;
    gap: 15px;
}
.story-card1{
    max-width: 540px;
    max-height: 630px;
    grid-column: span 2;
    grid-row: span 2;
    background-color: #ffffff;
    border-radius: 15px;
    
    overflow: hidden; 
    max-width: 100%;
}
.story-card{
    max-width: 290px;
    max-height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    
    overflow: hidden;
    
}
.story-card-small{
    max-width: 290px;
    max-height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    
    overflow: hidden;
    
}
.story-btn-1{
    background-color: #05D4DF;
    color: white;
    border-radius: 47px;
    border: none;
    padding: 10px;
    margin-left: 20px;
    margin-top: -100px;
}
.story-btn-2{
    background-color: #95B226;
    color: white;
    border-radius: 47px;
    border: none;
    padding: 10px;
    margin-left: 20px;
    margin-top: -100px;
    
}
.story-btn-3{
    background-color: #5D58F0;
    color: white;
    border-radius: 47px;
    border: none;
    padding: 10px;
    margin-left: 20px;
    margin-top: -100px;
    
}
.story-titles{
    font-size: 1.2rem;
    padding: 15px;
}
.story-description{
    color: #808080;
    padding: 10px 15px;
    /* margin-bottom: 25px; */
}

.view-btn{
    padding: 10px 40px;
    border-radius: 12px;
    background-color: black;
    color: white;
    margin: 60px 0;
}
footer{
    background-color: #01ACFD;
    color: #ffffff;
    padding: 20px 0;
    align-items: center;
    justify-items: center;
    
    
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    /* padding: 50px 70px; */
    /* align-items: center; */
    justify-items: center;
    max-width: 1160px;
    
    
}


.footer-content
{
    /* flex: 1; */
    
    margin: 0px 10px;
}
.footer-content h2, .footer-content h3{
    
    /* margin: 0  0 10px; */
    font-size: 1.5rem;
}

.footer-content p{
font-size: 1.2rem;
margin-top: 15px;
}

.footer-content ul{
    list-style: none;
   

}

.footer-content ul li{
    font-size: 1.2rem;
}





 
    





















/* responsive for smaller device */
@media screen and (max-width: 576px){

.navbar{
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
    
    }
.brand-title{
 display: none;
}
.nav-links{
 display: none;
}
.nav-button{
    display: none;
}

.banner{
    flex-direction: column-reverse;
    max-width: 357px;
}
.banner-kid{
    margin: 20px auto;
}
.banner-title{
    text-align: center;
    
}
.banner-para{
    text-align: center;
}
.enroll-btn{
    display: block;
    margin: 15px auto;
}

.card-section{
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.story-card1{
    display: none;
}

.card-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    max-width: 352px ;
}


.footer-container{
    grid-template-columns: 3fr ;
    gap: 10px;
    
    /* align-items: start; */
    
}





}

/* larger device */
@media screen and (min-width:576px) {
    
    .menubar, .story-card-small, hr{
        display: none;
    }
}

